#addNoteBox{
    width: 70%;
    background-color: aliceblue;
    margin: 5px auto;
    border: 2px solid red;
    border-radius: 5px;
    padding: 20px 28px;
}

#addNoteBox h2{
    line-height: 60px;
}

#addNoteFrom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.fromElement{
    padding: 3px 8px;
}

.fromElement input{
    padding: 1px 3px;
    display: block;
    font-size: 17px;
    width: 90%;
    margin:5px 0px 7px 2px;
    border-radius: 6px;
    /* border-radius: 2px; */
    border: 1px solid black;
    /* position: absolute;
    right: 700px; */
    height: 45px;
}
#description{
    height: 123px;
}

.fromElement label{
    font-size: 17px;
}

.fromBtn{
    padding-top: 10px;
    margin-left: 5px;
}
.fromBtn button{
    font-size: 16px;
    padding: 2px 8px;
    margin: 2px 5px;
}