#editNoteBox{
    /* display: fixed; */
    width: 200%;
    background-color: aliceblue;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px 0px 10px 14px; 
}

#eaddNoteBox h2{
    line-height: 60px;
}

#eaddNoteFrom{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.efromElement{
    padding: 3px 8px;
}

.efromElement input{
    padding: 1px 3px;
    display: block;
    font-size: 17px;
    width: 90%;
    margin:5px 0px 7px 2px;
    border-radius: 6px;
    /* border-radius: 2px; */
    border: 1px solid black;
    /* position: absolute;
    right: 700px; */
    height: 45px;
}
#edescription{
    height: 123px;
}

.efromElement label{
    font-size: 17px;
}

.efromBtn{
    padding-top: 10px;
    margin-left: 5px;
}
.efromBtn button{
    font-size: 16px;
    padding: 2px 8px;
    margin: 2px 5px;
}

#editformclosebtn{
    display: inline-block;
    font-size: 16px;
    padding: 2px 37px;
    margin: 5px 0px 5px 12px;
}