#noteitem{
    width: 95%;
    /* height: 251px; */
    border: 2px solid rgb(211, 116, 116);
    border-radius: 5px;
    margin: 2px auto;
    padding: 5px 8px;    
}
#noteitem h3{
    display: inline-block;
}
#icon{
    margin-left: 8px;
    /* position: absolute; */
    /* left: 2px; */
    /* right: 12px; */
    display: inline;
}

#icon button{
    border: 1px solid blue;
    margin: 0px 3px;
    display: inline-block;
    font-size: 13px;
    border-radius: 2px;
    padding: 2px 8px;
}

#icon button:hover{
    cursor: pointer;
    color: white;
    background-color: blue;
}

#icon button:active{
    cursor: pointer;
    color: white;
    background-color: yellowgreen;
}